In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
loan_dataset=pd.read_csv('loan.csv')

loan_dataset.isnull().sum()  # here checking how many missing values are there in particular column

# now removing the columns and rows which are having missing values 
loan_dataset=loan_dataset.dropna()

loan_dataset.isnull().sum()
loan_dataset.shape

(480, 13)

In [2]:
loan_dataset.replace({"Loan_Status":{'N':0,'Y':1}},inplace=True)
loan_dataset.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,1

In [3]:
# Dependent column values
loan_dataset['Dependents'].value_counts()  # this will count the different values in Depenedent column in table . given

0     274
2      85
1      80
3+     41
Name: Dependents, dtype: int64

In [4]:
# replacing the value of 3+ to 4
loan_dataset = loan_dataset.replace(to_replace='3+', value=4)
loan_dataset['Dependents'].value_counts()

0    274
2     85
1     80
4     41
Name: Dependents, dtype: int64

In [5]:
loan_dataset=loan_dataset.replace({"Gender":{'Male':1,'Female':0},"Married":{'Yes':1,'No':0},"Education":{'Graduate':1,'Not Graduate':0},"Self_Employed":{'No':0,'Yes':1},"Property_Area":{'Urban':2,'Semiurban':1,'Rural':0}})

In [6]:
# separating the data and label
x = loan_dataset.drop(columns=['Loan_ID','Loan_Status'],axis=1) # this will create an table by removing loanid and loan status column 
y = loan_dataset['Loan_Status'].values
print(x)

     Gender  Married Dependents  Education  Self_Employed  ApplicantIncome  \
1         1        1          1          1              0             4583
2         1        1          0          1              1             3000
3         1        1          0          0              0             2583
4         1        0          0          1              0             6000
5         1        1          2          1              1             5417
..      ...      ...        ...        ...            ...              ...
609       0        0          0          1              0             2900
610       1        1          4          1              0             4106
611       1        1          1          1              0             8072
612       1        1          2          1              0             7583
613       0        0          0          1              1             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
1               1508.0       128.0             360.0             1.0
2                  0.0        66.0             360.0             1.0
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
5               4196.0       267.0             360.0             1.0
..                 ...         ...               ...             ...
609                0.0        71.0             360.0             1.0
610                0.0        40.0             180.0             1.0
611              240.0       253.0             360.0             1.0
612                0.0       187.0             360.0             1.0
613                0.0       133.0             360.0             0.0

     Property_Area
1                0
2                2
3                2
4                2
5                2
..             ...
609              0
610              0
611              2
612              2
613              1

[480 rows x 11 columns]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,stratify=y,random_state=2)
print(x_train)
print(x_test)

     Gender  Married Dependents  Education  Self_Employed  ApplicantIncome  \
122       0        0          0          1              0             2137
498       1        1          1          1              1             2895
144       1        1          2          1              0            11757
217       1        1          0          1              0             3727
362       1        1          0          1              0             4750
..      ...      ...        ...        ...            ...              ...
72        1        0          0          1              0             3500
390       1        0          4          1              0             9167
76        1        0          0          1              0             3750
286       0        0          0          1              1             2600
376       1        1          4          1              0             8750

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
122             8980.0       137.0             360.0             0.0
498                0.0        95.0             360.0             1.0
144                0.0       187.0             180.0             1.0
217             1775.0       131.0             360.0             1.0
362             2333.0       130.0             360.0             1.0
..                 ...         ...               ...             ...
72                 0.0        81.0             300.0             1.0
390                0.0       185.0             360.0             1.0
76              4750.0       176.0             360.0             1.0
286             1717.0        99.0             300.0             1.0
376             4996.0       130.0             360.0             1.0

     Property_Area
122              1
498              1
144              2
217              1
362              2
..             ...
72               1
390              0
76               2
286              1
376              0

[432 rows x 11 columns]
     Gender  Married Dependents  Education  Self_Employed  ApplicantIncome  \
368       1        1          1          1              0             6325
74        1        1          4          1              1             5266
135       1        1          4          1              0             4000
53        1        1          2          1              0             4616
96        0        1          0          1              0             2484
388       1        1          0          1              0             2333
345       1        1          0          1              0             2499
8         1        1          2          1              0             4006
549       1        1          0          1              0             2785
99        1        1          0          1              0             1759
49        0        0          0          1              0             4000
513       1        1          0          1              0             2130
43        1        1          0          1              0             3941
92        1        1          2          0              0             3273
555       1        1          1          1              0             5468
609       0        0          0          1              0             2900
221       1        1          2          1              0             4009
454       1        0          0          1              1             7085
607       1        1          2          0              0             3987
179       1        0          0          0              0             2333
277       1        1          0          1              0             3103
488       1        1          2          1              1             4583
150       1        0          0          1              0             6277
585       1        1          1          1              0             4283
168       1        0          0          1              0             2237
267       1        1          4          1              0             4333
543       1        1          1          0              0             2239
520       1        1          2          0              0             2192
22        1        1          0          0              0             2600
69        0        0          0          1              0             4300
91        1        1          2          1              0             6250
250       1        1          0          0              0             1668
416       0        0          1          1              0             2600
154       1        0          0          1              0             3254
415       0        0          0          1              0             2995
291       1        1          2          1              0             4400
253       1        1          1          0              0             2661
97        1        1          0          1              0             1977
393       1        1          2          0              0             1993
399       0        0          0          1              0             1500
537       1        0          2          1              0             3617
15        1        0          0          1              0             4950
469       1        1          0          1              0             4333
371       1        1          2          1              0             5185
300       1        1          0          0              0             1800
189       1        1          0          1              0             9328
224       1        1          0          1              0             6250
201       1        0          2          1              0             4923

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
368                0.0       175.0             360.0             1.0
74              1774.0       187.0             360.0             1.0
135             7750.0       290.0             360.0             1.0
53                 0.0       134.0             360.0             1.0
96              2302.0       137.0             360.0             1.0
388             2417.0       136.0             360.0             1.0
345             2458.0       160.0             360.0             1.0
8               1526.0       168.0             360.0             1.0
549             2016.0       110.0             360.0             1.0
99              3541.0       131.0             360.0             1.0
49              2275.0       144.0             360.0             1.0
513             6666.0        70.0             180.0             1.0
43              2336.0       134.0             360.0             1.0
92              1820.0        81.0             360.0             1.0
555             1032.0        26.0             360.0             1.0
609                0.0        71.0             360.0             1.0
221             1717.0       116.0             360.0             1.0
454                0.0        84.0             360.0             1.0
607             1411.0       157.0             360.0             1.0
179             1451.0       102.0             480.0             0.0
277             1300.0        80.0             360.0             1.0
488             2083.0       160.0             360.0             1.0
150                0.0       118.0             360.0             0.0
585             3000.0       172.0              84.0             1.0
168                0.0        63.0             480.0             0.0
267             1811.0       160.0             360.0             0.0
543             2524.0       128.0             360.0             1.0
520             1742.0        45.0             360.0             1.0
22              1911.0       116.0             360.0             0.0
69                 0.0       136.0             360.0             0.0
91              5654.0       188.0             180.0             1.0
250             3890.0       201.0             360.0             0.0
416                0.0       160.0             360.0             1.0
154                0.0        50.0             360.0             1.0
415                0.0        60.0             360.0             1.0
291                0.0       127.0             360.0             0.0
253             7101.0       279.0             180.0             1.0
97               997.0        50.0             360.0             1.0
393             1625.0       113.0             180.0             1.0
399             1800.0       103.0             360.0             0.0
537                0.0       107.0             360.0             1.0
15                 0.0       125.0             360.0             1.0
469             2451.0       110.0             360.0             1.0
371                0.0       155.0             360.0             1.0
300             2934.0        93.0             360.0             0.0
189                0.0       188.0             180.0             1.0
224                0.0       128.0             360.0             1.0
201                0.0       166.0             360.0             0.0

     Property_Area
368              1
74               1
135              1
53               2
96               1
388              2
345              1
8                2
549              0
99               1
49               1
513              1
43               1
92               2
555              1
609              0
221              1
454              1
607              0
179              2
277              2
488              1
150              0
585              0
168              1
267              2
543              2
520              1
22               1
69               1
91               1
250              1
416              2
154              2
415              2
291              1
253              1
97               1
393              1
399              1
537              1
15               2
469              2
371              1
300              2
189              0
224              1
201              1

In [8]:
#  find the accuracy score of test case 
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression()
logistic.fit(x_train,y_train)
y_pred=logistic.predict(x_test)
# print(y_test)
# print(y_pred)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))
#print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))
# print(classifier.predict(sc_x.transform([[30,87000]])))
print(accuracy_score(y_pred,y_test))
from sklearn.metrics import confusion_matrix ,accuracy_score 
cm= confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1 1]
 [1 1]
 [1 0]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 1]]
0.8333333333333334
[[ 9  6]
 [ 2 31]]

C:\Users\Raj\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8333333333333334

In [9]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(x_train, y_train)

# Predicting the Test set results
y_pred = regressor.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

# Evaluating the Model Performance
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)


from sklearn.metrics import confusion_matrix ,accuracy_score 
cm= confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1. 1.]
 [1. 1.]
 [1. 0.]
 [1. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 1.]
 [1. 1.]
 [1. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [0. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 0.]
 [0. 0.]
 [0. 1.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [0. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [0. 1.]
 [1. 1.]
 [1. 1.]
 [1. 0.]
 [1. 1.]
 [1. 1.]
 [0. 0.]
 [1. 1.]
 [1. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]
[[ 7  8]
 [ 5 28]]

0.7291666666666666

In [10]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 50, metric = 'minkowski', p = 2)
classifier.fit(x_train, y_train)

y_pred = classifier.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1 1]
 [1 1]
 [1 0]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [1 0]
 [1 0]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [1 0]
 [1 1]
 [1 0]
 [1 0]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [1 1]]
[[ 0 15]
 [ 0 33]]

0.6875

In [11]:
from sklearn import svm
classifier = svm.SVC(kernel='linear')
classifier.fit(x_train,y_train)
# accuracy score on training data
x_test_prediction = classifier.predict(x_test)
test_data_accuray = accuracy_score(x_test_prediction,y_test)
print(test_data_accuray)

0.8333333333333334